*{
    margin: 0;
}

.header{
    padding-top: 0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0px 5px 8px 0px #F5F4F7;
    
}

.logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    
}

.logo {
    height: 100px;
}

.nav-items {
    width: 100%;
    text-decoration: none;
    
}
 
.nav-items > ul{
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    list-style: none;
   
}

.nav-items > ul > li > a{
   text-decoration: none;
}

/* -----------------Body-------------- */

.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search{
    margin: 10px;
}

.search-box{
    
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid black;
}

.search-button{
    cursor: pointer;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.res-card:hover {
    cursor: pointer;
    
    border-color: #bcbcbc;
    box-shadow: 2px 4px 7px 2px rgba(133, 133, 133, 0.6);
}

.res-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 270px;
    border: 1px solid rgb(222, 222, 222);
    /* height: 350px; */
    /* padding: 5px; */
    margin: 15px;
    /* border-radius: 10px; */
    padding: 20px 20px 30px;
}

.card-link{
    text-decoration: none;
    color: #1c1c1c;
}

.res-card > h3  {
    margin-bottom: 0;
}

.res-card > h5  {
    margin: 0;
    margin-top: 5px;
}



.extra-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.res-logo {
    width: 100%;
}

.filter{
    margin-bottom: 20px;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.shimmer-card {
    width: 200px;
    height: 270px;
    background-color: #f0f0f0;
    margin: 15px;
    padding: 20px 20px 30px;
}


.filter{
    display: flex;
}


.RestaurantMenu-items{
    /* margin-left: 50px;
    margin-right: 50px; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    /* background-color: rgb(255, 248, 239);
    width: 100%;
    height: 150px; */

    
}

.Restaurant-Details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    
}

.Details-A > h5{

    margin: 2px;
}

.Details-A > h4 {
    margin-top: 15px ;
}

.Details-B{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    text-align: center;
    max-width: 100px;
    border: 1px solid rgb(203, 203, 203);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    background-color: #48C578;
    
    padding: 10px;
}

.avgRating{
    margin-bottom: 10px;
    font-size: 16px;
}

.Review{
    margin-top: 10px;
    font-size: 12px;
}

.Details-B > .avgRating{
    border-bottom: #bcbcbc;
}

.Details-B > hr {
    width: 100%;

}

.Details-B > h4 {
    color: white;
    padding: 4px;
}

.Recomm-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;

}

.container-A{
    width: 100%;
}

.container-B > img {
    width: 100%;
    width: 80%;
}

.horizontal-line{
    margin-bottom: 50px;
}

.user-card{
    /* border: 1px solid black; */
    padding: 10px;
}


.user-card h2,h3{
    /* border: 1px solid black; */
    margin-top: 10px;
}

.avatar-img{
    width: 100px;
}

.carousel-Body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161A28;
    /* width: 100%; */
    padding: 50px;
    margin-bottom: 30px;
}

.carousel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.carousel-img{
    /* height: 200px; */
    cursor: pointer;
    width: 100%;
}

.carousel-container {
    overflow: hidden;
}

.carousel-container img{
    transition: transform 0.4s;
}
.carousel-container img:hover{
    transform: scale(1.1);
}

.About-us {
    margin-top: 30px;
}