/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */


*{
    margin: 0;
}

.header{
    padding-top: 0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0px 5px 8px 0px #F5F4F7;
    
}

.logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    
}

.logo {
    height: 100px;
}

.nav-items {
    width: 100%;
    text-decoration: none;
    
}
 
.nav-items > ul{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items > ul > li {
    padding-left: 10px;
    padding-right: 10px;
    /* margin: 10px; */
    list-style: none;

   
}

.nav-items > ul > li > a{
   text-decoration: none;
}



.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search{
    margin: 10px;
}

.search-box{
    
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #DEDE;
}

.search-button{
    cursor: pointer;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(216, 226, 216, 0.933);
    background: #5d8ed5;
    color: white;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.res-card:hover {
    cursor: pointer;
    
    border-color: #bcbcbc;
    box-shadow: 2px 4px 7px 2px rgba(133, 133, 133, 0.6);
}

.res-card{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 220px;
    /* height: 250px; */
    height: 100%;
    border: 1px solid rgb(235, 235, 235);
    margin: 15px;
    padding: 20px 20px 30px;
}

.res-card .cuisines{
    color: #4d4d4d;
    margin-top: 10px;
    font-size: 13px;
}

.card-link{
    text-decoration: none;
    color: #1c1c1c;
}

.res-card > h3  {
    margin-bottom: 0;
}

.res-card > h5  {
    margin: 0;
    margin-top: 5px;
}



.extra-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.extra-info .rating{
    background-color: #48c479;
    color: white;
    padding: 3px 6px;

}

.extra-info h6{
    font-weight: 300;
}



.res-logo {
    width: 100%;
}

.filter{
    margin-bottom: 20px;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DEDE;
    background: #5d8ed5;
    color: white;
    
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.shimmer-card {
    width: 200px;
    height: 270px;
    background-color: #f0f0f0;
    margin: 15px;
    padding: 20px 20px 30px;
}


.filter{
    display: flex;
}


.RestaurantMenu-items{


    max-width: 800px;
    min-height: 800px;
    flex-direction: column;
    margin: 20px auto;
    display: flex;

    
}

.Restaurant-Details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px 0px;
    border-bottom: 1px solid #D3D3D3;
    
}

.Details-A > h5{

    margin: 2px;
}

.Details-A > h4 {
    margin-top: 15px ;
}

.Details-B{
    text-align: center;
    max-width: 100px;
    cursor: pointer;
    border: 1px solid #e9e9eb;
    border-radius: 6px;
    padding: 8px;
    box-shadow: 0 1px 5px #f9f9f9;
    color: #3d9b6d;

}

.right-side{
    border-bottom: 1px solid #e9e9eb;
    margin-bottom: 8px;
    padding-bottom: 10px;
    font-weight: 700;
    display: block;
}

.Review{
    color: #8b8d97;
    font-size: 12px;
    font-weight: 500;
}

.Details-B > .avgRating{
    border-bottom: #bcbcbc;
}

.Details-B > hr {
    width: 100%;

}

.Details-B > h4 {
    color: white;
    padding: 4px;
}

.Recomm-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;

}

.container-A{
    border-bottom: 0.5px solid #d3d3d3;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 0 20px;
    display: flex;
}

.container-B > img {
    width: 100%;
    width: 80%;
}


.user-card{
    padding: 10px;
}


.user-card h2,h3{
    margin-top: 10px;
}

.avatar-img{
    width: 30vw;
    border-radius: 100%;

}

.carousel-Body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161A28;
    padding: 50px;
    margin-bottom: 30px;
}

.carousel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.carousel-img{
    cursor: pointer;
    width: 100%;
}

.carousel-container {
    overflow: hidden;
}

.carousel-container img{
    transition: transform 0.4s;
}
.carousel-container img:hover{
    transform: scale(1.1);
}

.About-us {
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 219, 106);
    
}

.About-heading{
    background-color: rgb(169, 89, 169);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.About-heading h1 {
    padding: 20px;
}

.user-card{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    /* padding: 20px; */
 
    height: 100vh;
}

.about-content{
    width: 50%;
}

.Links{
    padding-bottom: 30px;
}

.Links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.item-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.item-pic img {
    width: 118px;
    height: 96px;
    border-radius: 6px;
    margin-bottom: -30px;
}

.item-title{
    color: #3e4152;
    word-break: break-word;
    font-size: 17px;
    font-weight: 500;
}

.rate{
    margin-top: 2px;
}

.description{
    width: 98%;
    color: #282c3f73;
    letter-spacing: -.3px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.3;
}

.RestaurantMenu-container{
    height: 100%;
    width: 100%;
    padding: 2em 16px;
}

.add-btn{
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    height: 36px;
    width: 96px;
    cursor: pointer;
    color: #60b246;
    background-color: #fff;
    border: 1px solid #d4d5d9;
    border-radius: 4px;
    display: flex;
    /* box-shadow: 0 3px 8px #e9e9eb; */
    box-shadow: 0 3px 8px #e9e9eb;
}

.add-btn:hover{
    box-shadow: 0 1px 5px #0000000a;
    color: rgb(9, 172, 9)
}

.add-btn:active{
    color: #56c181;
}

.remove-btn{
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    height: 36px;
    width: 96px;
    cursor: pointer;
    color: #dc3131;
    background-color: #fff;
    border: 1px solid #d4d5d9;
    border-radius: 4px;
    display: flex;
    /* box-shadow: 0 3px 8px #e9e9eb; */
    box-shadow: 0 3px 8px #e9e9eb;
}

.remove-btn:hover{
    box-shadow: 0 1px 5px #0000000a;
    color: rgb(172, 9, 9)
}



.RestaurantOffer-container{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 

    padding-bottom: 45px;
    border-bottom: 0.5px solid #d3d3d3;
}

.RestaurantOffer-container::-webkit-scrollbar {
    display: none; 
  }
  

.RestaurantOffer-outercontainer{
    margin-right: 12px;
}

.RestaurantOffer-innercontainer{
    box-sizing: border-box;
    height: 100%;
    min-width: 200px;
    cursor: pointer;
    text-align: left;
    border: 1px solid #e9e9eb;
    border-radius: 8px;
    outline: none;
    align-items: center;
    padding: 8px;
    display: flex;
    box-shadow: 0 1px 2px #0000000a;
}

.offerBox{
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    display: flex;
}

.offerHeader{
    white-space: nowrap;
    color: #686b78;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    display: flex;
}

.offerBody{
    color: #93959f;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    margin-top: 4px;
    font-size: 11px;
    font-weight: 600;
    overflow: hidden;
}

.RestaurantOfferIcon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}  

.foodItems{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* 
.cart-num{
    color: red;
} */

/* .veg{
   background-color: #48c479;
   color: white;
}

.non-veg{
    background-color: rgb(215, 32, 32);
    color: white;
} */

.cart-count{
    color: #48c479;
    padding: 5px;
    font-size: 18px;
}


/* .extra-info .rating{
    background-color: #48c479;
    color: white;
    padding: 3px 6px;

} */

.greenbg{
    background-color: #48c479;
    color: white;
    padding: 3px 6px;
}

.orangebg{
    background-color: #DB7D39;
    color: white;
    padding: 3px 6px;
}

.yellowbg{
    background-color: #E0B155;
    color: white;
    padding: 3px 6px;
}

.redbg{
    background-color: red;
    color: white;
    padding: 3px 6px;
}

.cart{
    background-color: #E8EDEE;
}

.cart-Box{
    width: 100%;
    height: 100vh;
}

.cart-container{
   display: flex;
   align-items: center;
   justify-content: center;
  
}

.cart-main-box{
    width: 35vw;
    height: 60vh;
    background-color: white;
}

.cart-head{
    padding: 15px;
    background-color: #E8EDEE;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart-buttons{
    height: 36px;
    width: 96px;
    cursor: pointer;
    color: #60b246;
    background-color: #fff;
    border: 1px solid #d4d5d9;
    border-radius: 4px;
    display: flex;
    box-shadow: 0 3px 8px #e9e9eb;

    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.remove-item-btn{
    color: #bebfc5;
    font-size: 25px;
    font-weight: bold;
}

.add-item-btn{
    font-size: 25px;
    animation: none;
    font-weight: bold;
}


.add-item-btn:active{
    font-size: 30px;
}

.remove-item-btn:active{
    font-size: 30px;
}
